<div class="contact-info" layout="column" layout-align="center start">
	<h1>{{"component.contact_us.title" | translate}}</h1>
	<span class="contact-option phone">
		<img src="/assets/images/telephone.svg" alt="phone-icon">
		<a href="tel:{{phone}}" title="Phone">{{phone}}</a>
	</span>
	<span class="contact-option email">
		<img src="/assets/images/email.svg" alt="email-icon">
		<a href="mailto:{{email}}" title="email">{{email}}</a>
	</span>

	<div class="grouped mt6">
		<h4>{{"component.contact_us.sub_title" | translate}}</h4>
		<p>{{"component.contact_us.p" | translate}}</p>
	</div>
</div>