<div class="left-side" layout="column" layout-align="center center" flex="grow">
	<img class="google-logo" src="/assets/images/google.png">
	<div class="stars">
		<img class="svg" src="/assets/images/star.svg">
		<img class="svg" src="/assets/images/star.svg">
		<img class="svg" src="/assets/images/star.svg">
		<img class="svg" src="/assets/images/star.svg">
		<img class="svg" src="/assets/images/half-star.svg">
	</div>
	<span class="extra">{{"component.gallery.rating.value" | translate}}</span>
	<a href="https://www.business.google.com/b/" target="_blank" class="md-button md-raised input-submit md-primary">{{"component.gallery.rating.button" | translate}}</a>
</div>

<div class="right-side" layout="column" layout-align="center center">
	<img class="svg" src="/assets/images/smile.svg">
	<h1>{{"component.gallery.hiring.title" | translate}}</h1>
	<p>{{"component.gallery.hiring.p" | translate}}</p>
	<a href="mailto:{{email}}?subject=SJOPintor%20Painter%20Application" class="">{{"component.gallery.hiring.button" | translate}}</a>
</div>