@import '../../../assets/styles/sass/variables.scss';

header.header {
	position: absolute;
	top: 0; left: 0; right: 0;
	padding: 1em;
	user-select: none;

	.logo-wrapper {
		a { display: inline-block; outline: none;}
		img {
			height: 78px;
			width: auto;
		}

		.extra-meta {
			font-family: Merriweather,serif;
			font-style: italic;
			font-size: 12px;
			color: $blue_hue;
			cursor: default;
		}
		.pink { color: $pink_500; margin-right: 1em; }
	}

	nav.main-nav {
		flex: 1;
		
		ul li {
			display: inline-block;
		}
		.nav-item { margin-left: 1.45em;}
		a {
			line-height: 34px;
			font-size: 14px;
			text-decoration: none;
			color: $navy_hue;
			transition: color 250ms 0s ease-in-out;
			&:hover { color: $blue_hue; }
		}
	}
}
